*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

.clearfix::after{ 
  content: '';
  clear: both;
  width: 100%;
  display: block;
}

h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:40px;
}

h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:36px;
}

h3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:32px;
}

h4{
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
}

h5{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
}


p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.75rem;
}

a{
	font-family:Arial, Helvetica, sans-serif;
}

.active-i:hover{
	opacity:0.8;
}
.active-i{
	transition:all 0.3s ease;
}

.wrapper{
	width:100%;
	background-color:#fff;
}

/*header*/
.header{
	height:100vh;
	background:url('../images/header-bg-image.png') no-repeat center bottom / cover;
	padding:40px 10px;
}

.header_content{
	width:780px;
	margin:0 auto;
	text-align:center;
}

.header_nav_list{
	display:flex;
	justify-content:space-between;
	list-style-type:none;
	align-items:center;
}

.header_nav_list_link{
	font-family:Arial, sans-serif;
	font-weight:0.875rem;
	text-transform:uppercase;
	color:#fff;
	font-weight:700;
	text-decoration:none;
}
.header_nav_list_link img:hover{
	opacity:0.8;
}
.header_nav_list_link:hover{
	text-decoration:underline;
}

.header_content_text{
	text-align:center;
	margin-top:30vh;
	margin-bottom:40vh;
}

.header_content_text h2{
	text-transform:uppercase;
	letter-spacing:2px;
	color:#fff;
	font-weight:700;
	padding:0 0 20px;
}

.header_content_text p{
	font-size:1rem;
	letter-spacing:2px;
	color:#fff;
	padding:0 0 30px;
}

.btn{
	font-size:0.75rem;
	text-transform:uppercase;
	color:#fff;
	font-weight:700;
	text-decoration:none;
	padding:15px 25px;
	background:#16a085;
	border-radius:5px;
	letter-spacing:2px;
	
	transition:all 0.3s ease-in;
}
.btn:hover{
	opacity:0.8;
}

.header_content_icons{
	display:flex;
	justify-content:center;
}
.header_content_icons a{
	margin:0 10px;
}



/*main*/
/*first_block*/
.main_block{
	width:100%;
	background:#f5f6f7;
	padding:110px 20px 0px;
}

.first_block_content{
	width:1024px;
	margin:0 auto;
	display:flex;
	justify-content:center;
}

.first_block_content_text h4,
.second_block_content_text h4{
	font-size:1.25rem;
	color:#16a085;
	text-transform:uppercase;
	line-height:24px;
	letter-spacing:2px;
}

.first_block_content_text p,
.second_block_content_text p{
	line-height:24px;
	color:#373737;
	letter-spacing:2px;
}

.first_block_content_text{
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	padding:0 0 30px;
}

.first_block_content_decoration{
	max-width:633px;
}

.first_block_content_decoration img,
.second_block_content_decoration img{
	display:block; /*чтоб не добовлялся нижнимй отступ к картинке*/
}

/*second_block*/
.second_block_content{
	width:1024px;
	margin:0 auto;
	padding:110px 0 0;
	display:flex;
	justify-content:space-between;
	align-items:flex-start;
}

.second_block_content_decoration{
	max-width:314px;
}

.second_block_content_text{
	max-width:448px;
}

.second_block_content_text .btn{
	border-radius:0px;
}

.second_block_content_text h4{
	padding:0 0 40px;
}

.second_block_content_text p{
	line-height:22px;
	padding:0 0 60px;
}

.arrows a{
	font-size:28px;
	font-weight:700;
	text-decoration:none;
	color:#000;
}


/*third_block*/
.third_block_content{
	width:1024px;
	margin:0 auto;
	padding:0 0 110px;
}

.third_block_content_decoration{
	display:flex;
	justify-content:space-between;
}

.third_block_text_fig{
	text-align:center;
	display:flex;
	flex-direction:column;
}

.third_block_text_fig{
	width:190px;
	padding:10px;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.third_block_content_text > p{
	text-align:right;
}

.third_block_text_fig > h5,
.third_block_text_fig > p{
	color:#373737;
}

.third_block_text_fig > h5{
	padding:0 0 20px;
}

.third_block_text_fig > p > img{
	padding:0 0 20px;
}

.third_block_content_text > p > .arrows a{
	margin:0 5px;
}


/*fouth_block*/
.fouth_block{
	padding:20px;
	background:url('../images/fouth_block_header.png') no-repeat left center / cover;
}

.fouth_block_content{
	max-width:500px;
	margin:0 auto;
	padding:240px 10px;
	text-align:center;
}

.fouth_block_content_text{
	font-family:Times New Roman, Times, serif;
	text-transform:uppercase;
	color:#fff;
	font-size:24px;
	padding:0 0 20px;
}

/*поле ввода*/
.fouth_block_field input{
	border:0; /*Убираем границы обводки на input*/
	width:280px;
	margin:0 auto;
	padding:20px 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	letter-spacing:0.15px;
	border-radius:4px 0 0 4px;
}
/*форма*/
.form {
	font-size: 0; /*Для того, чтоб пробела не было между полем ввода и кнопкой*/
}

.fouth_block_field .button{
	border:0; /*Чтоб убрать границы обводки на кнопке*/
	border-radius:0 4px 4px 0;
	background-color: #16a085;
	color: #fff;
	text-align: center;
	padding: 18px 20px 21px 20px;
	
	transition:all 0.3s ease-in;
}
.fouth_block_field .button:hover{
	background:#12c6a3;
}


/*fifth_block*/
.fifth_block{
	background-color:#f5f6f7;
	padding:88px 10px 110px;
}

.fifth_block_content{
	max-width:870px;
	margin:0 auto;
	text-align:center;
}

.fifth_block_content_text{
	padding:30px 10px;
}

.fifth_block_content_text h3{
	text-transform:uppercase;
	font-family:Times NEw ROman, Times, serif;
	font-size:20px;
	color:#373737;
	letter-spacing:1px;
	padding:0 0 20px;
}

.fifth_block_content_text p{
	text-transform:uppercase;
	line-height:22px;
	letter-spacing:1.5px;
}

.button_left, .button_right{
	border:0;
	border-radius:4px 0 0 4px;
	padding:20px;
	display:flex;
	align-items:center;
}

.button_left a, .button_right a{
	width:240px;
	text-transform:uppercase;
	color:#fff;
	font-size:16px;
	font-family:Times New Roman, Times, serif;
	letter-spacing:1.5px;
	text-decoration:none;
	background:#1abc9c;
}

.button_left a:hover, .button_right a:hover{
	opacity:0.7;
}

.button_left span{
	border-radius:0 4px 4px 0;
	background:#16a085;
	padding:17px 20px 13px;
}

.button_right span{
	border-radius:0 4px 4px 0;
	background:#16a085;
	padding:12px 20px 13px;
}

.fifth_block_content_button{
	display:flex;
	justify-content:center;
}