@import url("menu.css");
@import url("header.css");
@import url("search.css");
@import url("button.css");
@import url("left.css");

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix::after {
  content: '';
  display: block;
  clear: both; }

.header {
  background: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
  -ms-flex-line-pack: justify;
  align-content: center;
   -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
   }

