$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1200px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';

@import 'base/functions';
@import 'base/variables';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';

.header{
	background:url("../images/bg-01.jpg") no-repeat center top / cover;
	min-height:100vh;
	.header__container{
		text-align:center;
		max-width:1024px;
		margin:0 auto;
		@extend %clearfix; //cancel float
			.container__logo{
				float:left;
				margin:43px 0 0 10px;
				display:block;
			}
			.container__menu{
				@extend %clearfix;
				margin:0 0 300px;
				.menu__navigation{
					float:right;
					margin:50px 0 0 0;
					.menu__item{
						float:left;
						display:inline-block;
						margin:0 41px 0 0;
						.menu__link{
							text-transform:uppercase;
							color:#fff;
							text-decoration:none;
							&:hover{
								text-decoration:underline;
								point:cursor;
							}
						}
					}
				}
			}
			.container__title{
				.title__copy{
					font-size:40px;
					color:#fff;
					text-transform:uppercase;
					letter-spacing:-0.7px;
				}
				.title__headline{
					color:#fff;
					letter-spacing:-1px;
				}
			}
		}
	}